@model Library.Books

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Books</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Numberofpages)*@
            Number of pages
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numberofpages)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numberofsamples)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numberofsamples)
        </dd>*@
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Genre)*@
            Genre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Booklanguage)*@
            Language
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Booklanguage)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Bookname)*@
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bookname)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Plot)*@
            Plot
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plot)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
