@model IEnumerable<Library.Books>

@{
    ViewData["Title"] = "Index";
}

<h1>List of books</h1>
@if (ViewBag.UserRole == "librarian")
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Add New Book</a>
    </p>    }
<table class="table">
    <thead>
        <tr>
            <th>
                Number of Pages
            </th>
            @*<th>
                </th>*@
            <th>
                Genre
            </th>
            <th>
                Language
            </th>
            <th>
                Name
            </th>
            <th style="width:300px">
                Plot
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Numberofpages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booklanguage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bookname)
                </td>
                <td style="width:300px">
                    @Html.DisplayFor(modelItem => item.Plot)
                </td>
                <td>
                    @if (ViewBag.UserRole == "librarian")
                    {
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>}
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
