@model IList<Library.BorrowingGridModel>

@{
    ViewData["Title"] = "Index";
}
@if (ViewBag.Error == "true")
{
<h6 class="alert-danger">
    This user has unreturned books. You can not make new borrowing for this user.
</h6>
}
<h1>Borrowings</h1>
@if (ViewBag.UserRole == "librarian")
{
    <p>
        <a class="btn btn-primary" asp-action="Create">Add new borrowing</a>
    </p>
}

@if (ViewBag.UserRole == "librarian")
{
    <table class="table">
        <thead>
            <tr>

                <th>
                    Borrow date
                </th>
                <th>
                    Expiration date
                </th>
                <th>
                    Return date
                </th>
                <th>
                    Book
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Borrowdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Expirationdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Returndate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bookname)
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>

                        @if (item.Returndate == null)
                        {
                            <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Confirm Borrowing</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-secondary disabled" asp-action="Edit" asp-route-id="@item.Id">Returned</a>
                        }

                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table">
        <thead>
            <tr>

                <th>
                    Borrow date
                </th>
                <th>
                    Expiration date
                </th>
                <th>
                    Return date
                </th>
                <th>
                    Book
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.Profileid.ToString() == ViewBag.UserId)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Borrowdate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Expirationdate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Returndate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bookname)
                        </td>
                        <td>
                            <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
