@model IEnumerable<Library.ReservationGridModel>

@{
    ViewData["Title"] = "Index";
}
@if (ViewBag.Error == "true")
{
    <h6 class="alert-danger">
        You can't make a reservation longer than 3 days!
    </h6>
}
@if (ViewBag.UserRole == "librarian")
{
    <h1>Current reservations</h1>
}
@if (ViewBag.UserRole == "member")
{
    <h1>My reservations</h1>

    @if (ViewBag.NumberOfReservations <= 5)
    {
        <p>
            <a class="btn btn-primary" asp-action="Create">Create Reservation</a>
        </p>
    }
    else
    {
        <h5 class="alert-danger">You have reached limit. You have 5 unconfirmd reservations</h5>
        <h5 class="alert-info">To make new reservation wait for confirmation or delete unconfirmed reservations</h5>
    }
}
@if (ViewBag.UserRole == "librarian")
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Reservation date
                </th>
                <th>
                    Book Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reservationstatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reservationdate)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Bookname)
                    </td>
                    <td>
                        @if (ViewBag.UserRole == "member")
                        {
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }

                        @if (item.Reservationstatus == false)
                        {
                            <a class="btn btn-success" asp-action="ConfirmReservation" asp-route-id="@item.Id">Confirm reservation</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@if (ViewBag.UserRole == "member")
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Reservation date
                </th>
                <th>
                    Book Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.Profileid.ToString() == ViewBag.UserId)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reservationstatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reservationdate)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.Bookname)
                        </td>
                        <td>
                            @if (ViewBag.UserRole == "member")
                            {
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}