@model IEnumerable<Library.Members>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Profession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registrationdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Profession)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registrationdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.Username)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Profileid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Profileid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Profileid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
